<html>
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </header>
    <body>
        <h1>To Do List</h1>
        <form action="/list" method="POST" id="list-form">
            <input type="text" name="Item">
            <input type="submit" value="Add">
        </form>
        <ul id="items"></ul>
        <script src="/js/list.js"></script>
    </body>
</html>